*.class
*.log
*/bin
# sbt specific
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
pact-jvm-provider-sbt/project/project/
pact-jvm-provider-sbt/project/target/

# Scala-IDE specific
.scala_dependencies

.DS_Store

*/.settings

.idea
.idea_modules
*.iml

# Eclipse
*/.cache
.classpath
.settings
.project
build/
pkgdiff_reports/
.gradle/

out/
consumer/pact-jvm-consumer/target/
pact-jvm-consumer-groovy/target/
pact-jvm-consumer-junit/target/
pact-jvm-consumer-junit5/target/
pact-jvm-consumer-specs2/target/
pact-jvm-provider-scalasupport/target/
pact-jvm-provider-specs2/target/
provider/pact-jvm-provider/target/
consumer/pact-jvm-consumer-groovy/target/
consumer/pact-jvm-consumer-junit/target/
consumer/pact-jvm-consumer-junit5/target/
consumer/pact-jvm-consumer-specs2/target/
provider/pact-jvm-provider-scalasupport/target/
provider/pact-jvm-provider-specs2/target/
