*.class
*.hprof
*.log
*/bin
# sbt specific
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
pact-jvm-provider-sbt/project/project/
pact-jvm-provider-sbt/project/target/

# Scala-IDE specific
.scala_dependencies

.DS_Store

*/.settings

.idea
.idea_modules
*.iml

# Eclipse
*/.cache
.classpath
.settings
.project
build/
pkgdiff_reports/
.gradle/

out/
consumer/target/
consumer/groovy/target/
consumer/junit/target/
consumer/junit5/target/
consumer/specs2/target/
consumer/scalasupport/target/
provider/target/
provider/scalasupport/target/
.kotlintest/
bin/

