name: Pact-JVM Compatibility Suite

on:
  push:
    branches: [ master, v4.1.x, v4.6.x, v4.7.x ]
  pull_request:
    branches: [ master, v4.1.x, v4.6.x, v4.7.x ]

jobs:
  v1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 18
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 18
    - name: Build with Gradle
      run: ./gradlew --no-daemon :compatibility-suite:v1
    - name: Archive cucumber results
      uses: actions/upload-artifact@v4
      with:
        name: cucumber-report-v1
        path: compatibility-suite/build/cucumber-report-v1.html
      if: always()
  v2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 18
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 18
      - name: Build with Gradle
        run: ./gradlew --no-daemon :compatibility-suite:v2
      - name: Archive cucumber results
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report-v2
          path: compatibility-suite/build/cucumber-report-v2.html
        if: always()
  v3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 18
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 18
      - name: Build with Gradle
        run: ./gradlew --no-daemon :compatibility-suite:v3
      - name: Archive cucumber results
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report-v3
          path: compatibility-suite/build/cucumber-report-v3.html
        if: always()
  v4:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 18
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 18
      - name: Build with Gradle
        run: ./gradlew --no-daemon :compatibility-suite:v4
      - name: Archive cucumber results
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report-v4
          path: compatibility-suite/build/cucumber-report-v4.html
        if: always()
