name: Pact-JVM Build

on:
  push:
    branches: [ master, v4.1.x, v4.3.x, v4.4.x ]
  pull_request:
    branches: [ master, v4.1.x, v4.3.x, v4.4.x ]

jobs:
  latest_jdk:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest, windows-latest, macos-latest ]
#        module: [ core, consumer, provider, pact-specification-test ]
        module: [ core ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        distribution: zulu
        java-version: 18
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    - run: ./gradlew -v
    - name: Build with Gradle
      run: ./gradlew -s --no-daemon -i -p ${{ matrix.module }} check
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      if: always()
      with:
        files: "**/test-results/**/*.xml"

  supported_jdks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
#        module: [ core, consumer, provider, pact-specification-test ]
        module: [ core ]
        jdk: [ 11, 15, 16, 17 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: ${{ matrix.jdk }}
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - run: ./gradlew -v
      - name: Build with Gradle
        run: ./gradlew -s --no-daemon -i -p ${{ matrix.module }} check
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v1
        if: always()
        with:
          files: "**/test-results/**/*.xml"
