name: Pact-JVM Build

on:
  push:
    branches: [ master, v4.1.x, v4.4.x, v4.5.x, v4.6.x ]
  pull_request:
    branches: [ master, v4.1.x, v4.4.x, v4.5.x, v4.6.x ]

jobs:
  latest_jdk:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest, windows-latest, macos-latest ]
        module: [ core, 'consumer -x :consumer:junit:clojureTest', provider, pact-specification-test ]
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 18
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 18
    - name: Cache Gradle packages
      uses: actions/cache@v5
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    - run: ./gradlew -v
    - name: Build with Gradle
      run: ./gradlew -s --no-daemon -i -p ${{ matrix.module }} check

  supported_jdks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ core, consumer, provider, pact-specification-test ]
        jdk: [ 17, 18 ]
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.jdk }}
      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - run: ./gradlew -v
      - name: Build with Gradle
        run: ./gradlew -s --no-daemon -i -p ${{ matrix.module }} check

